*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.nav-menu{
    width: 100vw;
    height: 100vh;
    position:static;
    display: flex;
    padding: 0 5%;
    justify-content: center;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
}*/

/*.video{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -1;
    filter: brightness(40%);
    
}*/
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.video{
width: 100%;
filter: brightness(60%);
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

}


.text{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    align-items: center;
    justify-content: center;
    display: flex;
}

.text h1{
    text-align: center;
    color: white;
}

nav{
    padding: 20px 8%;
    position: absolute;
    left: 0;
    display: flex;
    top: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.logo{
    color: white;
}

nav ul li{
    list-style: none;
    display: inline-block;
    color: white;
    margin-left: 40px;

}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

nav a:hover{
    color: blue;
}
.content{
    position:static;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
    
}
.content h1{
    font-size: 300%;
    color: white;
    font-weight: 600;
    
}
.menu-list img{
    height: 40px;
}

#campus{
    width: 700px;
    height: 500px;
}

.image{
    padding: 0%;
    position: relative;
}
#sobre-o-campus{
    padding: 2%;
    display:inline-flex;
    background-color: #2e61a1;
    
}
#sobre-o-campus p{
    margin-top: 10%;
}
#cursos{
    background-color: #00b1c6;
}
.videos-coord ul li{
    display: inline-block;
    justify-content: space-between;
   
    
}

.teste{
    margin-left: 10%;
    

}